body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px 0;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #1E90FF;

}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 25px;
    background: #FFFFFF;
    border: 1px solid #21133b;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-transform: capitalize;
    color: #21133b;

}

.yu {
    position: absolute;
    top: 0;
    left: 50%;
}

logo {
    margin: 0 10px;
    background-color: transparent;
}

.test {
    display: none;
}


@media screen and (max-width: 768px) {
    .navbar-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 20px;
    }

    li {
        display: none;
    }

    button {
        display: none;

    }

    logo {
        border-radius: 50%;
        margin: 0 10px;
        background-color: transparent;
    }

    .test {
        display: block;
    }
}

.note {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 20px;
    gap: 15px;
    padding: 0 20px;
}

.feat {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: #21133b;
}

@media screen and (max-width: 768px) {
    .note {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .feat {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
}

.hed {
    background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_One/images/landing.jpg);
    height: calc(100vh - 64px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hed-test {
    padding: 0 15px;
}

.services-content {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;

}

.srv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
}

.image-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.services-content .image::before {
    content: "";
    background-color: #6a6a91;
    height: calc(100% + 100px);
    z-index: 0;
    position: absolute;
    width: 130px;
    right: 0;
}

.services-content .image.img{
    position: inherit;
}